<header>
    <div class="navbar bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            
                
                <div class="item">
                    
                        <a>Men</a>
                </div>
                <div class="item">
        
                        <a>Woman</a>
                </div>
                <div class="item">
                   
                        <a>Child</a>
                </div>
      
          

        </div>
        <div class="logo">
            <img style="width: 50px;height: 50px;border-radius: 20px;" src="../../../assets/img/peacoc.jpg" alt="">
            <strong style="color: aliceblue;margin: 5px;">peacock Fashion</strong>
        </div>
        <div class="div leftup align-item-center d-flex">
            <button routerLink="cart" style="font-size: 15px;" class="btn btn-primary">
                <i class="fas fa-cart-plus"></i>
                <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
               </button>
            <button style="font-size: 12px;" class="btn btn-primary">
                <i class="fas fa-user-plus"></i>
               
               </button>
        </div>
        
    </div>
</header>
